






<div class="jumbotron">
        
        <h1 class="title">Capital Underground</h1>
    		 <br><br>
    		 <h2 class="home">Mobile<br> Game App</h2>
        <p><a class="btn btn-lg btn-success" role='button' style="margin-bottom:20px; margin-top:-5px" href="signup">Start Playing!</a></p>
   			
   			
   			
      </div>


<!--<div class="center hero-unit">

	<h1>Capital Underground</h1>
	<h2>
  	This is the home page for the
  	mobile game Capital Underground.
	</h2>

	<%= link_to "Create User and start dealing now!!!", signup_path, class: "btn btn-large btn-primary"%>
</div>

<!--<%= link_to image_tag("rails.png", alt: "Rails"), 'http://rubyonrails.org/' %>-->
