@import "bootstrap";


/*#################################################################*/
/* THIS IS THE CAPITAL UNDERGROUND STYLE SHEET*/


/* mixins, variables, etc. */

$grayMediumLight: #eaeaea;

@mixin box_sizing {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}


/* miscellaneous */

.debug_dump {
	clear: both;
	float: left;
	width: 100%;
	margin-top: 45px;
	@include box_sizing;
}

/* universal */

html {
  overflow-y: scroll;
}




/* NAVBAR SHIT SON ########################*/


body {
  padding-top: 20px;
  padding-bottom: 20px;
}

.navbar {
  margin-bottom: 20px;
}


/*##########################################*/


section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
 
  
 
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-family: brush script mt;
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: lightgray;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
	
}

/* forms */

input, textarea, select, .uneditable-input {
	border: 1px solid #bbb;
	width: 100%;
	margin-bottom: 15px;
	@include box_sizing;
}

input {
	height: auto !important;
}


#error_explanation {
	color: #f00;
	ul {
		list-style: none;
		margin: 0 0 18px 0;
	}
}

.field_with_errors {
	@extend .control-group;
	@extend .error;
}

/* header */

#logo {
  font-family: brush script mt;
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #FA58F4;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  line-height: 1;
  &:hover {
    color: white;
    text-decoration: none;
  }
}

/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid $grayMediumLight;
  color: lightgray;
  a {
    color: gray;
    &:hover {
      color: gray;
    }
  }
  small {
    float: left;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 10px;
    }
  }
}

/*########################################################
-----------	DRUG BUTTON STYLING -------------------
	########################################################
*/

.activity_rounded {
    margin: 20px 0 20px 0px;
    display: inline-block;
    -webkit-border-radius: 30%;
    -moz-border-radius: 30%;
    border-radius: 30%;
    -khtml-border-radius: 30%;
    border: 7px solid #fff;
}

.activity_rounded img  { 
		
    -webkit-border-radius: 28%;
    -moz-border-radius: 28%;
    border-radius: 28%;
    -khtml-border-radius: 28%;
    vertical-align: middle;
}

/*ABOVE IS TO make SURE THAT THE BORDER FOR THE DRUG PIC WORKS IN ALL 
	BROWSERS*/


 .background {
 		background: rgba(86, 212, 128, .64);
 	  border-radius: 40px;
 	  margin-bottom: 20px;
 }

 .background_red {
 		background: rgba(221, 35, 8, .64);
 		border-radius: 40px;
 	  margin-bottom: 20px;
 }

.drug_form {
	width: 135px;
	padding: 0 5px;
		margin-bottom: -5px;
}

.forms {
	padding-top: 5px;
	
}

.drug_label {
	
	font-size: 2.0em;
	
	text-align: center;
	font-weight: bold;
	color: #FFF;
 

  text-shadow: 0px 0px 7px rgba(0, 0, 0, 0.4);
  letter-spacing:-1px;
	margin-bottom: 11px;
	
}

.buy_button {

  padding-right: 3px;
	padding-left: 20px;
}

.sell_button{
	padding-left: 3px;
	padding-right: 20px;
}



.drug_row {
	padding-top: 30px ;
	}

.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}

.c {
	margin: 10px 14px ;
}

.col-center-block {
    float: none;
    display: block;
    margin-left: auto;
    margin-right: auto;
}