@import "bootstrap";


/*#################################################################*/
/* THIS IS THE CAPITAL UNDERGROUND STYLE SHEET*/


/* mixins, variables, etc. */

$grayMediumLight: #eaeaea;

@mixin box_sizing {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

@mixin jumbo_shadow {
	text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.94);
}

/* miscellaneous */

.debug_dump {
	clear: both;
	float: left;
	width: 100%;
	margin-top: 45px;
	@include box_sizing;
}

/* universal */

html {
  overflow-y: scroll;
}




/* NAVBAR SHIT SON ########################*/


body {
/* padding-top: 70px;     this is just to test the edu thing */
  padding-bottom: 20px;
  background: #333537;
  color: #d6d6d6;
}

.navbar {
 margin-bottom: 20px;

}

.navbar-inverse {
	background-color: #7e00ff;
	border-color: #280051;
}

.navbar-header {
	p { font-weight:500;
			font-size:1.38em;
		
		}
	
}


.navbar-inverse .navbar-nav > li > a {
    color: white;
		font-weight: 500;
		font-size: 1.2em;
		
}

.navbar-inverse .navbar-nav > li   {
    color: white
}


.navbar-inverse .navbar-brand {
    color: white;
}

.navbar-inverse .navbar-nav .open .dropdown-menu > li > a {
    color: white;
}


.dropdown-menu {
	li { 
	
		padding-left: 15px;
		font-weight: 3400;
		font-size: 1.0em;}
	a {
		color: white;
	}
}


/*##########################################*/


section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
 
  
 
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}



h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: lightgray;
}

p {
  
	
}

/* forms */

input, textarea, select, .uneditable-input {
	border: 1px solid #bbb;
	width: 100%;
	margin-bottom: 15px;
	@include box_sizing;
}

input {
	height: auto !important;
}


#error_explanation {
	color: #f00;
	ul {
		list-style: none;
		margin: 0 0 18px 0;
	}
}

.field_with_errors {
	@extend .control-group !optional;
	@extend .error;
}

/* header */

#logo {
  font-family: brush script mt;
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #FA58F4;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  line-height: 1;
  &:hover {
    color: white;
    text-decoration: none;
  }
}

/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid $grayMediumLight;
  color: lightgray;
  a {
    color: gray;
    &:hover {
      color: gray;
    }
  }
  small {
    float: left;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 10px;
    }
  }
}











/*########################################################
-----------	DRUG BUTTON STYLING -------------------
	########################################################
*/

.activity_rounded {
    
    margin: 20px 0 20px 0px;
    display: inline-block;
    -webkit-border-radius: 30%;
    -moz-border-radius: 30%;
    border-radius: 30%;
    -khtml-border-radius: 30%;
    border: 7px solid #fff;
		position: relative; 
		.col {position: absolute; 
					z-index: 1; 
					top: 0; 
					left: 0;
					p {font-size: 2.9em;
						 font-weight: bold;
						 color: white;
						 @include jumbo_shadow;
						}
					}
}

.activity_rounded img  { 
		
    -webkit-border-radius: 27%;
    -moz-border-radius: 27%;
    border-radius: 27%;
    -khtml-border-radius: 27%;
    vertical-align: middle;
}

/*ABOVE IS TO make SURE THAT THE BORDER FOR THE DRUG PIC WORKS IN ALL 
	BROWSERS*/


 .background {
 		background: #39e78d;
 	  border-radius: 40px;
 	  margin-bottom: 15px;
 }

 .background_red {
 		background: #ff0038;
 		border-radius: 40px;
 	  margin-bottom: 15px;
 }
 
  .background_yellow {
 		background: #e0aeff;
 		border-radius: 40px;
 	  margin-bottom: 15px;
 }




.drug_form {
	width: 135px;
	padding: 0 5px;
		margin-bottom: -5px;
}

input, select, textarea{
    color: black;
}

.forms {
	padding-top: 5px;
	select {
		margin-bottom: 10px;
	}
}

.drug_label {
	
	font-size: 2.0em;
	
	text-align: center;
	font-weight: bold;
	color: #FFF;
 

  text-shadow: 0px 0px 7px rgba(0, 0, 0, 0.4);
  letter-spacing:-1px;
	
	
}

.buy_button {

  padding-right: 3px;
	padding-left: 20px;

}

.btn-success {
    background-image: linear-gradient(to bottom, #5CB85C 0px, #419641 100%);
    background-repeat: repeat-x;
    border-color: #3E8F3E;
}


.sell_button{
	padding-left: 3px;
	padding-right: 20px;
}

.btn-danger {
    background-image: linear-gradient(to bottom, #D9534F 0px, #C12E2A 100%);
    background-repeat: repeat-x;
    border-color: #B92C28;
}

.drug_row {
	padding-top: 30px ;
	}

.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}

.c {
	margin: 10px 14px ;
}

.col-center-block {
    float: none;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.form_margin {
	margin-left: -20px;
}
 
 

/*########################################################
-----------	Heading -------------------
	########################################################
*/

 
.jumbotron {
   
   padding: 15px;
   background: image-url("Albany_1.jpg") no-repeat center center; 
   background-size: cover;
   -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    -khtml-border-radius: 50%;
    vertical-align: middle;
   h1{ color: #f75bf5;
   		 font-weight: 900;
   		 line-height: 1.2;}
  h2{ font-size: 2.2em;
  		font-weight: 500;
  		text-align: justify;}	
  
  }



.home {
	color: white; 
	padding-top: 60px;
	

	@include jumbo_shadow;
	
}

.push-spaces
{
    height: 100px;
}

.title {
	

  text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.73);
  font-size: 2.8em;
  letter-spacing: -2px;
  margin-top: 0px;
  margin-bottom: 0px;
  
}

.shadow {
	@include jumbo_shadow;
	}

/*########################################################
-----------	Sign-up/in -------------------
	########################################################
*/

.signin {
	margin-top: 20px
}

/*########################################################
-----------	City Pages -------------------
	########################################################
*/


.city {
	h1{ letter-spacing: -1px ;
			padding-top: 180px;
			margin-bottom:-20px;}
			
}


.albany {
	background: image-url("Albany.jpg") no-repeat center center; 
	background-size: cover;	
}

.troy {
	background: image-url("Troy.jpg") no-repeat center center; 
	background-size: cover;
}

.schen {
	background: image-url("Schen.jpg") no-repeat center center; 
	background-size: cover;
}

.cp {
	background: image-url("CP.jpg") no-repeat center center; 
	background-size: cover;
}

img {
          display: block;
          height: auto;
          max-width: 100%;
}


/*########################################################
-----------	Education Stuff -------------------
	########################################################
*/



.btn-letter {
    color: #333;
    background-color: #FFF;
    
}

.edu {
h1 {font-size:2.5em;color: #d3cbfe;}
h2 {font-size:2.8em;color:black;}
}



.edu_col {
padding-left: 18px;
}

.btn-circle.btn-xl {
  width: 60px;
  height: 60px;
  padding: 0px; /* there were padding values for the tablet here*/
  font-weight:500;
  font-size: 2.5em;
  text-align:center;
  border-radius: 50px;
margin: 12px;
}

.btn-letter.active {
background-color: #47fe92;
border-width:4px;
border-color: white;

}

.btn-circle.btn-xl.active {
color: white;
text-shadow: rgb(255, 255, 255) 0px 0px 80px;
}

/*.btn-default:hover {
    color: #333;
    background-color: #fff;
    text-shadow: 0px 0px 3px rgba(255, 0, 0, 1);
    
    border-color: red;
border-width: 1.7px
} */

.butt {

}

.disabled {
	background-color: #fe212e;
	border-width:4px;
  border-color: white;
	-webkit-box-shadow: 3px 3px 30px 0px rgba(255, 41, 110, 1);
-moz-box-shadow:    3px 3px 30px 0px rgba(255, 41, 110, 1);
box-shadow:         3px 3px 30px 0px rgba(255, 41, 110, 1);

}

.btn.disabled {
	opacity: 1;
} 

.btn-circle.btn-xl.disabled {
	color: white ;
	text-shadow: rgb(255, 255, 255) 0px 0px 17px;
}

#star1 {
	display: none;
  padding-top: 10px;
}

#star2 {
	display: none;
  padding-top: 10px;
}